*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #2b0a28;
}
.container{
    height: 31.25em;
    width: 31.25em;
    border: 1px solid rgba(29, 24, 24, 0);
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.soul-eater{
    animation: swim 3s infinite;
    height: 18.75em;
    width: 18.75em;
    background: rgb(255, 208, 0);
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 30px;
    position: absolute;
    margin: auto;
    animation: rodar 10s infinite ease-in-out;
    box-shadow: -1px 4px 80px 9px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 4px 80px 9px rgba(209, 174, 174, 0.75);
-moz-box-shadow: -1px 4px 80px 9px rgba(0,0,0,0.75);
}
.soul-eater::before{
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border-left: 130px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid rgb(255, 208, 42);
    background-color: rgba(235, 194, 9, 0);
    top: -43px;
    left: -60px;
    transform: rotate(120deg);
}
.eyes{
    position: absolute;
    content: "";
    height: 50px;
    width: 100px;
    top: 100px;
    left: 28px;
    border-radius: 0px 0px 200px 200px;
    -webkit-border-radius: 0px 0px 200px 200px;
    -moz-border-radius: 0px 0px 200px 200px;
    background:white;
    transform: rotate(300deg);
    animation: grow 2s infinite ease-in-out;
    
}
.eyes::after{
    position: absolute;
    content: "";
    height: 50px;
    width: 100px;
    top: -0px;
    left: 138px;
    border-radius: 0px 0px 200px 200px;
    -webkit-border-radius: 0px 0px 200px 200px;
    -moz-border-radius: 0px 0px 200px 200px;
    background:white;
    transform: rotate(0deg);
    
}
.boca{
    position: absolute;
    content: "";
    height: 10px;
    width: 198px;
    background: white;
    top: 250px;
    transform:rotate(0deg);
    left: 149px;


}
.teeth{
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    left: 160px;
    top: 260px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 40px solid white;
    background-color: rgba(235, 194, 9, 0);
    
}
.teeth::after{
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    left: 149px;
    top: -40px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 40px solid white;
    background-color: rgba(235, 194, 9, 0);
}
.bocao{
    position: absolute;
    top: -40px;
    left: -90px;
}

@keyframes swim{
    50%{
        transform: translateY(6.25em);
    }
}
   @keyframes grow {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.14);
            }
            100% {
                transform: scale(1);
            }
        }
    @keyframes rodar{
        0%{
            transform: rotate(360deg);
    }
}